<div class="container">
  <div class="container titleText " *ngIf="user">
    <h1 class="font-weight-bold">Hello {{user.name}}</h1>
  </div>


  <!-- Card Wider -->
  <div class="container d-flex justify-content-center">
    <div class="cardCustomized">
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top responsive" src="https://img.icons8.com/dusk/100/000000/user.png" alt="Card image cap">
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h4 class="card-title blue-text pb-2" *ngIf="user"><strong>{{user.name}}</strong></h4>
          <hr>
          <br>
          <!-- Subtitle -->
          <h6 class="font-weight-bold" *ngIf="user"><strong>Mobile Number: {{user.number}}</strong></h6>
          <h6 class="font-weight-bold" *ngIf="user"><strong>E-mail: {{user.email}}</strong></h6>
          <h6 class="font-weight-bold" *ngIf="user"><strong>Status: {{user.role}}</strong></h6>
          <br>
          <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalUserUpdateForm">Change
            Password
          </button>
        </div>

      </div>
    </div>
  </div>
  <!-- Card Wider -->
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalUserUpdateForm" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Password Change</h4>

          <div *ngIf="modalColse">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </div>
        <div class="font-weight-bolder font-italic text-success text-center">
          <h5 *ngIf="passwordChangeMessageSuccess">Password Change Success</h5>
        </div>
        <div class="font-weight-bolder font-italic text-danger text-center">
          <h5 *ngIf="passwordChangeMessageError">Something Wrong</h5>
        </div>
        <div class="modal-body mx-3">

          <div *ngIf="formFiledsValidation" class="text-center"><h6 class="font-weight-bolder font-italic text-success">
            Fill All Fields</h6></div>


          <div class="md-form mb-5">
            <input type="password" id="defaultForm-old" class="form-control validate" [(ngModel)]="oldPassword"
                   name="oldPassword">
            <label data-error="wrong" data-success="right" for="defaultForm-old">Old Password</label>
          </div>
          <div *ngIf="oldPasswordValidation" class="font-italic text-warning">Wrong Old Password</div>
          <div class="md-form mb-4">
            <input type="password" id="defaultForm-new" class="form-control validate" [(ngModel)]="newPassword"
                   name="newPassword">
            <label data-error="wrong" data-success="right" for="defaultForm-new">New Password</label>
          </div>

          <div class="md-form mb-4">
            <input type="password" id="defaultForm-re-new" class="form-control validate" [(ngModel)]="reNewPassword"
                   name="newPassword">
            <label data-error="wrong" data-success="right" for="defaultForm-re-new">Re-Enter New Password</label>
          </div>

        </div>

        <div *ngIf="comparePasswordTextFields" class="font-weight-bolder font-italic text-danger text-center">
          <h5>Those password did't match! try again</h5>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default" (click)="profileUpdate()">
            <div *ngIf="!loadingSpinner">
              Update
            </div>
            <div *ngIf="loadingSpinner" class="col loading">
              <div class="d-flex">
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </button>
          <button [disabled]="loadingSpinner" *ngIf="passwordChangeMessageSuccess" class="btn btn-info " data-dismiss="modal"
                  (click)="closeUpdateModal()">Close
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
